<div class="login_page">
    <div class="container">
        <div class="row">
            <div class="col-12col-md-12 col-lg-10 mx-auto login_template mb-3 mt-3 shadow ">
                <div class="row h-100 p-4">
                    <div class="col-0 col-md-6 col-lg-7 login_illustration d-none d-sm-block d-sm-none d-md-block">
                        <div class="app_name">
                            <h4>Audit <br> Management <br> Portal</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 login_form">
                        <div class="w-100 p-3">
                            <div class="login_form_title mb-4">
                                <h2 class="text-center">User Login</h2>
                            </div>
                            <form (ngSubmit)="loginCredentials()" #formRef="ngForm">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-user"></i></span>
                                        <input type="text" name="username" id="username" placeholder="Username"
                                            class="form-control" [(ngModel)]="memberLoginForm.username" required
                                            #username="ngModel">
                                    </div>
                                    <div class="text-danger" *ngIf="!username.valid && (username.touched || username.dirty)">
                                        *Username is required
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-lock"></i></span>
                                        <input type="password" name="password" id="password" placeholder="Password"
                                            class="form-control" [(ngModel)]="memberLoginForm.password" #password="ngModel" required>
                                    </div>
                                    <div class="text-danger" *ngIf="!password.valid && (password.touched || password.dirty)">
                                        *Password is required
                                    </div>
                                </div>
                                <p class="text-danger fw-bold" *ngIf="errorMessage!=null">{{errorMessage}}</p>
                                <div class="mb-3">
                                    <button type="submit" class="btn d-block mx-auto">Login</button>
                                    <div class="line-of-dots"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>